.main{width: 1519.2px;
height: 411px;
display: inline-block;}
.main1{width: 261px;
height: 411px;
border-right-style: solid;
border-color: #9D9D9D;
line-height: 2.9em;}
.main1 a{text-decoration: none;
line-height: 54px;
color: #1032C0;
font-size: 20px;
display: block;
text-align: center;
background: url(../image/sec_menu_bg_b.jpg);}
.main1 a:hover{color: #EE46AB;
font-size: 24px;
background: #1C40C1}
.main2{width: 742px;
height: 411px;
display: inline-block;
transform: translate(280px,-418px)}
.main2 p{text-indent:6em}
.main2 b{font-size: 16px;
	height: 10px;
	display:block;
	color: #000000;
	text-indent: 4em;}
.main2 b:hover{color: #EE46AB;
font-size: 24px;}
.main3{margin-top: -382px}